body{
  /*remove margins and scroll bars*/
  margin: 0;
  overflow: hidden;
}
#scene-container{
  /*scene container full page*/
  position: absolute;
  width: 100x;
  height: 100x;
}

button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10; /* Make sure the button is above other content */
}